
.container {
    max-width: 800px; 
    margin: 20px auto; 
}


.card {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
}


.card-title {
    font-size: 24px; 
    margin-bottom: 20px; 
}


.table {
    width: 100%; 
}


.table-striped tbody tr:nth-child(odd) {
    background-color: #f2f2f2; 
}






#formulario-transaccion {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f7f7f7;
}


label {
    display: block;
    margin-bottom: 10px;
}

input[type="date"],
input[type="text"],
input[type="number"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


@media screen and (max-width: 768px) {
    #formulario-transaccion {
        max-width: 90%;
    }
}
